<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">

    
  </head>
  
  <body>

      <header>
      <div id="header" class="container" style="background:#fafafa;">
       <ul class="breadcrumb">
        <li><a href="">GitHub</a></li>
        <li><a href="">Travis CI</a></li>
        <li><a href="">Heroku</a></li>
        <li><a href="">Sign out</a></li>
       </ul>
      </div>  
      </header>
      <h1>Activity Watcher</h1>

      <div id="header" class="container" style="background:#fafafa;">
       <ul class="breadcrumb">
        <li class="active">Home</li>
        <li><a href="">Teams</a></li>
        <li><a href="">Member</a></li>
       </ul>
      </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-3" style="background:#e9e9e9;">

          
            <button class="btn btn-primary">Course作成</button>
            <button class="btn btn-primary">課題作成</button>
            <button class="btn btn-primary">出欠確認</button>
          
          <hr>
          
            <button class="btn btn-info">Team作成</button>
            <button class="btn btn-info">出席登録</button>
            <button class="btn btn-info">User情報変更</button>
          
        </div>
        <div class="col-sm-9" style="background:#c0c0c0;">
          <table class="table table-striped table-bordered table-hover table-condensed">
            <thead>
              <tr><th>Courses</th><th>Teams</th><th>Members</th></tr>
            </thead>
            <tbody>
              <tr><td>enPit-2016</td><td>5</td><td>35</td></tr>
              <tr><td>enPit-2017</td><td>6</td><td>26</td></tr>
              <tr><td>GitHub演習</td><td>10</td><td>40</td></tr>
            </tbody>
          </table>

        </div>

        <form class="form-inline" style="margin-bottom:15px;">
          <div class="form-group">
            <label class="sr-only control-label" for="Course">Course</label>
            <input type="text" id="Course" class="form-control" placeholder="Course">
          </div>
          <div class="form-group">
            <input type="submit" value="submit" class="btn btn-primary">
          </div>
        </form>

        
      
      </div>
    </div>
    
    <div id="footer" class="container" style="background:#8c8c8c;">Copyright(C) Y.chubachi_PBL2017</div>
    

    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>